<h2>Add Bids</h2>
<div>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="supplierId">Supplier Id</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="There is already a invoice with that name">
        <input nz-input formControlName="supplierId" id="supplierId" />
      </nz-form-control>
    </nz-form-item>

    <!--    <nz-form-item>-->
    <!--      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Supplier Name</nz-form-label>-->
    <!--      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="There is already a invoice with that name">-->
    <!--        <input nz-input formControlName="name" id="name" />-->
    <!--      </nz-form-control>-->
    <!--    </nz-form-item>-->

<!--    <nz-form-item>-->
<!--      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired>Email</nz-form-label>-->
<!--      <nz-form-control [nzSm]="14" [nzXs]="24">-->
<!--        <input nz-input type="email" id="email" formControlName="email"/>-->
<!--      </nz-form-control>-->
<!--    </nz-form-item>-->

<!--    <nz-form-item>-->
<!--      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="number" nzRequired>Contact Number</nz-form-label>-->
<!--      <nz-form-control [nzSm]="14" [nzXs]="24">-->
<!--        <input nz-input formControlName="number" id="number" />-->
<!--      </nz-form-control>-->
<!--    </nz-form-item>-->

<!--    <nz-form-item>-->
<!--      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address" nzRequired>Address</nz-form-label>-->
<!--      <nz-form-control [nzSm]="14" [nzXs]="24">-->
<!--        <input nz-input type="address" id="address" formControlName="address" />-->
<!--      </nz-form-control>-->
<!--    </nz-form-item>-->

    <hr/>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="requisitionId">Requisition ID</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please select an option">
        <nz-select
          formControlName="requisitionId"
          id="requisitionId"
          [(ngModel)]="reqId"
          (ngModelChange)="setSelectedReqId($event)"
          nzAllowClear
          nzPlaceHolder="Choose Id"
        >
          <nz-option
            *ngFor="let option of reqList"
            [nzValue]="option.requisition_id"
            [nzLabel]="option.requisition_id"
          >{{ option }}
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>


<!--    <nz-form-item>-->
<!--      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="price" nzRequired>Quoted Price</nz-form-label>-->
<!--      <nz-form-control [nzSm]="14" [nzXs]="24">-->
<!--        <input nz-input type="price" id="price" formControlName="price"/>-->
<!--      </nz-form-control>-->
<!--    </nz-form-item>-->

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="amount" nzRequired>Transportation cost</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input type="cost" id="amount" formControlName="amount" />
      </nz-form-control>
    </nz-form-item>

<!--    <nz-form-item>-->
<!--      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="desc" nzRequired>Due Date</nz-form-label>-->
<!--      <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker>-->
<!--    </nz-form-item>-->

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="description">Description</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="There is already a invoice with that name">
        <input nz-input formControlName="description" id="description" />
      </nz-form-control>
    </nz-form-item>

    <div nz-row nzJustify="center">
      <div nz-col nzFlex="3">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary"
                  (click)="addBids()"
          >Add Bid</button>
        </nz-form-control>
      </div>
      <div nz-col nzFlex="2">
        <button nz-button nzType="default" routerLink="/dashboard">
          Go To Dashboard
        </button>
      </div>
    </div>

  </form>
</div>
