<nz-layout>
  <nz-header>
    <div class="logo">ABC Construction</div>

  </nz-header>
  <nz-content class="outer-content">

    <nz-layout class="inner-layout">
      <nz-content class="inner-content">
        <h2>View Bids</h2>
        <app-table
          [header]="header"
          [items]="items"
        >
        </app-table>
      </nz-content>
    </nz-layout>
    <nz-footer>This page show the bids awaiting approval</nz-footer>
    <button nz-button class="login-form-button login-form-margin"
            [nzType]="'primary'"
            (click)="logOut()"

    >Log Out</button>
  </nz-content>
</nz-layout>
