<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a>
        <img src="https://toppng.com/uploads/preview/6-stylish-building-logo-design-fashion-construction-portable-network-graphics-11563269435kav9pgdmst.png" alt="logo">
        <h1>ABC Construction</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="book" nzTheme="fill"></i>
        <a routerLink="/home/project">Project</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="dashboard"></i>
        <a routerLink="/home/dashboard">  Dashboard</a>
      </li>
      <li nz-submenu nzOpen nzTitle="Bids" nzIcon="money-collect">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="plus-circle" nzTheme="fill"></i>
            <a routerLink="/home/add-bids">Add bids</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="snippets" nzTheme="fill"></i>
            <a routerLink="/home/view-bids">View bids</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Purchase order" nzIcon="money-collect">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="snippets" nzTheme="fill"></i>
            <a routerLink="/home/create-order">Create purchase order</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="snippets" nzTheme="fill"></i>
            <a routerLink="/home/view-purchase-order">View purchase orders</a>
          </li>
        </ul>
      </li>

      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="plus-circle" nzTheme="fill"></i>
        <a routerLink="/home/add-pay">Add Payment</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="snippets" nzTheme="fill"></i>
        <a routerLink="/home/view-req">View Requisition</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="snippets" nzTheme="fill"></i>
        <a routerLink="/home/view-supplier">View Supplier List</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <button nz-button class="login-form-button login-form-margin"
                [nzType]="'primary'"
                (click)="logOut()"

        >Log Out</button>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
